#shadow-root {
  background: lightgreen;
  font-size: 16px;
  position: absolute;
  width: 100%;
  z-index: 10000;
}

.chrome-extension-boilerplate {
  text-align: left;
  margin: 1rem auto;
  padding: 0 2rem;
  display: flex;
  align-content: space-evenly;
}

.title {
  font-size: 2rem;
  margin: auto 1rem;
  flex-grow: 1;
}

.card {
  display: flex;
  align-items: center;
}

.card__content {
  margin-right: 1rem;
}

.logo {
  height: 3em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
